/* chrome desktop component starts here */

@media screen and (-webkit-min-device-pixel-ratio:0) {    
.buy-online-sub .buy-online-carosel .slick-prev { right: 22.3%;}
.buy-online-sub .buy-online-carosel .slick-next { right: 22.3%; margin-right:-35px;}

/* firefox desktop component starts here */

@-moz-document url-prefix() {       
        
}


/*common component starts here*/

@media only screen and (min-width:992px) and (max-width:1199px) {

.h2 { font-size:28px; line-height: 28px !important;}
.h4 { font-size:24px; line-height: 24px !important;}
.h5 { font-size:24px; }
.p { font-size:13px; } 

}




@media only screen and (min-width:768px) and (max-width:991px) {
.h2 { font-size:24px; line-height: 24px !important;}
.h4 { font-size:22px; line-height: 22px !important;}
.h5 { font-size:20px; }
.p { font-size:13px; } 
}


@media only screen and (max-width:767px) {
.h2 { font-size:22px; line-height: 22px !important;}
.h4 { font-size:20px; line-height: 20px !important;}
.h5 { font-size:18px; line-height:22px !important; }
.p { font-size:13px; line-height:17px !important; }   
.h2 .section-header::before { left: -50px; top: 45%;}
.global-button { margin:15px 0;}
}

/*common component ends here*/



/*carosel component starts here*/

@media only screen and (min-width:1200px) and (max-width:1919px) {
.spotlight-carosel .mainSlide .overlapContent { width:60%;}
.spotlight-carosel .slick-next { left: 70%; right: auto; margin-left:35px;}
.spotlight-carosel .slick-prev { left: 70%; right: auto; }
    
}

@media only screen and (min-width:992px) and (max-width:1199px) {
.spotlight-carosel .mainSlide .overlapContent { width:80%;}
.spotlight-carosel img { width: 100%; height: 400px;  object-fit: cover; }
.spotlight-carosel .slick-next { left: 70%; right: auto; margin-left:35px;}
.spotlight-carosel .slick-prev { left: 70%; right: auto; }
}

@media only screen and (min-width:768px) and (max-width:991px) {
.spotlight-carosel .mainSlide .overlapContent { width:80%;}
.spotlight-carosel img { width: 100%; height: 400px;  object-fit: cover; }
.spotlight-carosel .slick-next { left: 70%; right: auto; margin-left:35px;}
.spotlight-carosel .slick-prev { left: 70%; right: auto; }
}


@media only screen and (max-width:767px) {
.spotlight-carosel .mainSlide .overlapContent div { padding:0 0 0 10px;}
.spotlight-carosel .mainSlide .overlapContent { position: relative; left:auto; width:90%; bottom:50px; padding:10px 10px 10px 35px; margin:0px auto; } 
.spotlight-carosel .mainSlide .overlapContent .section-header::before { left:-60px;}
.spotlight-carosel .mainSlide .overlapContent div { display:block;}    
.spotlight-carosel .slick-prev, .spotlight-carosel .slick-next { bottom:75px;} 
a.global-button { min-width: 100px; font-size: 14px; padding: 5px 25px;}
.spotlight-carosel .slick-next { left: 60%; right: auto; margin-left:35px;}
.spotlight-carosel .slick-prev { left: 60%; right: auto; }
}

/*carosel component ends here*/




/* 4steps component starts here*/

@media only screen and (min-width:1200px) and (max-width:1919px) { 

}

@media only screen and (min-width:992px) and (max-width:1199px) {


}


@media only screen and (min-width:768px) and (max-width:991px) {
.four-easy-steps .four-easy-steps-content .four-easy-steps-box { padding:80px 25px;}
.four-easy-steps .four-easy-steps-content .four-easy-steps-box .h2 { padding: 10px 10px 10px 45px !important;}
.four-easy-steps .four-easy-steps-content .four-easy-steps-box .section-header::before { left:-15px; } 
.four-easy-steps .four-easy-steps-content .form-box-content .section-header::before { left:-80px; }    
}


@media only screen and (max-width:767px) {
.four-easy-steps .four-easy-steps-content { display:block;}
.four-easy-steps .four-easy-steps-content .four-easy-steps-box { padding:80px 10px 80px 10px;}
.four-easy-steps .four-easy-steps-content .four-easy-steps-box ul li span { font-size:60px; line-height:90px; margin-right: 10px;}
.four-easy-steps .four-easy-steps-content .four-easy-steps-box .section-header::before { left:-15px; }   
.four-easy-steps .four-easy-steps-content .four-easy-steps-box .h2 { padding: 10px 10px 10px 45px !important; margin:0 !important;}
.four-easy-steps .four-easy-steps-content .form-box-content { width:90%; display: block; }
.four-easy-steps .four-easy-steps-content .form-box-content .form-box { margin:-60px 0 0 -30px;}
.four-easy-steps .four-easy-steps-content .form-box-content .form-box h2 { padding-left:10px;}
.four-easy-steps .four-easy-steps-content .form-box-content .section-header::before { left:-50px; }
}


/* 4steps component ends here*/





/* feature products component starts here*/

@media only screen and (min-width:1200px) and (max-width:1919px) { 

}

@media only screen and (min-width:992px) and (max-width:1199px) {


}



@media only screen and (min-width:768px) and (max-width:991px) {
.feature-products .h2 { padding: 10px 10px 10px 45px !important;}
.feature-products .section-header::before { left:-15px; }
.feature-products .feature-product-carosel { padding: 0 0 40px 0;}
.feature-products .feature-product-carosel .mainSlide .box .h2 { padding:10px!important;}
.feature-products .slick-next { right: 29%; margin-right: -35px;}
.feature-products .slick-prev { right: 29%;}
    
}


@media only screen and (max-width:767px) {
.feature-products .feature-product-carosel .mainSlide { display: block; }
.feature-products .feature-product-carosel .mainSlide div { display: block; }
.feature-products .feature-product-carosel .mainSlide .box { width: 100%; margin: 40px auto; display: block; padding:5px;}
.feature-products .h2 { padding: 10px 10px 10px 45px !important;}
.feature-products .section-header::before { left:-15px; } 
.feature-products .feature-product-carosel .mainSlide .box .h2 { padding:10px!important;}
.feature-products .feature-product-carosel { padding: 0 0 40px 0;}
.feature-products .slick-prev { left:0;}
.feature-products .slick-next { right:auto; left:35px;}
.feature-products .slick-prev, .feature-products .slick-next { top:85%;}

}

/* feature products component ends here*/




/* product-list component starts here*/


@media only screen and (min-width:1200px) and (max-width:1919px) { 

}

@media only screen and (min-width:992px) and (max-width:1199px) {


}




@media only screen and (max-width:767px) {
    .products-list ul { display:block;} 
    .products-list ul li { margin-right:0; margin-bottom:30px;}
    
}

/* product-list component ends here*/



/* decor solutions component starts here*/

@media only screen and (min-width:1200px) and (max-width:1919px) { 

}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .decor-solutions .decor-solutions-list { margin-right: 40px; }

}


@media only screen and (min-width:768px) and (max-width:991px) {
.decor-solutions .decor-solutions-list {  margin-right: 30px; padding:30px;}
.decor-solutions .h2 { padding: 10px 10px 10px 45px !important;}
.decor-solutions .section-header::before { left:-15px; } 
}



@media only screen and (max-width:767px) {
.decor-solutions .decor-solutions-list { width:100%; margin-right:0;}
.decor-solutions .h2 { padding: 10px 10px 10px 45px !important;}
.decor-solutions .section-header::before { left:-15px; } 
.decor-solutions .slick-prev { left:20px;}
.decor-solutions .slick-next { left:20px; margin-left:35px;}
.decor-solutions .slick-prev { bottom:10px; right:auto; top:auto; z-index:1;}
.decor-solutions .slick-next { bottom:10px; right:auto; top:auto; z-index:1;}   
.decor-solutions .slick-prev::before { color: #7350ac; }
.decor-solutions .slick-next::before { color: #7350ac; } 
    
}

/* decor solutions component ends here*/



/* tools list component starts here*/

@media only screen and (min-width:1200px) and (max-width:1919px) { 

}

@media only screen and (min-width:992px) and (max-width:1199px) {


}

@media only screen and (min-width:768px) and (max-width:991px) {
.tools .h2 { padding: 10px 10px 10px 45px !important;}
.tools .section-header::before { left:-15px; }

}




@media only screen and (max-width:767px) {
.tools .h2 { padding: 10px 10px 10px 45px !important;}
.tools .section-header::before { left:-65px; } 
.tools .tools-list ul { display:block;}
.tools .tools-list ul li { display:block; width:100%; text-align: center; margin-bottom:30px;}

}
/* tools list component ends here*/



/* inspiring-decor component starts here*/

@media only screen and (min-width:1200px) and (max-width:1919px) { 

}

@media only screen and (min-width:992px) and (max-width:1199px) {


}

@media only screen and (min-width:768px) and (max-width:991px) { 
.inspiring-decor::before { height: calc(100% - 10%);}
.inspiring-decor .h2 { padding: 10px 10px 10px 45px !important;}
.inspiring-decor .section-header::before { left:-15px; }
.inspiring-decor .mainSlide div:first-child { width:30%; padding:10px 10px 10px 45px;}
.inspiring-decor .mainSlide h5 { margin-bottom:10px;}
.inspiring-decor .slick-prev, .inspiring-decor .slick-next { bottom:-30px;}
.inspiring-decor .slick-prev { left:45px;}
.inspiring-decor .slick-next { left:45px; margin-left:35px;}
.inspiring-decor .mainSlide div:first-child { padding: 40px 40px 40px 45px;}

}

 @media only screen and (max-width:767px) {
     
.inspiring-decor::before { height: calc(100% - -20%);}
.inspiring-decor .mainSlide div { display:block;}
.inspiring-decor .mainSlide div:first-child { width:100%; padding: 10px 10px 40px 45px;}
.inspiring-decor .mainSlide h5 { margin-bottom:15px;}
.inspiring-decor .section-header { position:relative;}
.inspiring-decor::before { width:95%;}
.inspiring-decor .slick-prev, .inspiring-decor .slick-next { bottom:auto; top:115px;}
.inspiring-decor .slick-prev { left: 45px;}
.inspiring-decor .slick-next { left: 45px; margin-left:45px;}
.inspiring-decor .h2 { padding: 10px 10px 10px 45px !important;}
.inspiring-decor .section-header::before { left:-15px; } 

     
}

/* inspiring-decor component ends here*/


/* buy online component starts here*/

@media only screen and (min-width:1200px) and (max-width:1919px) { 

}

@media only screen and (min-width:992px) and (max-width:1199px) {
.buy-online .card-box .left { width: 31%;}
.buy-online .card-box .middle { width:35%;}
.buy-online .card-box .right { width:29%;}


}


@media only screen and (min-width:768px) and (max-width:991px) {
.buy-online .card-box .left { width: 29%;}
.buy-online .card-box .middle { width:41%;}
.buy-online .card-box .right { width:29%;}
.buy-online .h2 { padding: 10px 10px 10px 45px !important;}
.buy-online .section-header::before { left:-15px; } 
.buy-online-sub .buy-online-carosel .slick-next { left:56%; margin-left:35px;}
.buy-online-sub .buy-online-carosel .slick-prev { left:56%; }
}



 @media only screen and (max-width:767px) {
     
.buy-online .card-box { display:block;}
.buy-online .card-box .left { width:100%;}
.buy-online .card-box .right { width:100%;}
.buy-online .card-box .middle { width:100%;}
     
.buy-online .h2 { padding: 10px 10px 10px 45px !important;}
.buy-online .section-header::before { left:-15px; } 
     
}

/* buy online component ends here*/


/* buy online sub component starts here*/

@media only screen and (min-width:1200px) and (max-width:1919px) { 

}

@media only screen and (min-width:992px) and (max-width:1199px) {


}

@media only screen and (max-width:767px) {
     
     .buy-online-sub::before { height: calc(100% - -20%);}
     .buy-online-sub .buy-online-carosel .mainSlide div { display:block; text-align: left; }
     .buy-online-sub .buy-online-carosel .mainSlide div:last-child { width:100%; padding: 0 0 0 20px; }
     .buy-online-sub::before { width:95%; }
     .buy-online-sub .buy-online-carosel .slick-prev { right: auto; left: 20px; bottom:-35px; } 
     .buy-online-sub .buy-online-carosel .slick-next { right: auto; left: 20px; bottom:-35px; margin-left:45px; }
     .buy-online-sub .buy-online-carosel .section-header { position:relative;}
     .buy-online-sub .section-header::before { left:-15px; } 
     .buy-online-sub .h2 { padding: 10px 10px 10px 45px !important;}
 

}

 

/* buy online sub component ends here*/
    
    
    
    

/* footer component starts here*/


@media only screen and (min-width:992px) and (max-width:1199px) {
    
.footer-box .four-column ul > li { width: 23%;}
.footer-box .four-column ul > li > ul > li { font-size:13px;}
    
}




@media only screen and (min-width:768px) and (max-width:991px) {
.footer-box .four-column ul > li { width:33.33%;}
.footer-box .four-column ul > li > ul > li { font-size:12px;}
.footer-box .note { font-size:12px;}

}


@media only screen and (min-width:481px) and (max-width:767px) { 
.footer-box .four-column ul > li { width:50%;}
}



@media only screen and (max-width:767px) {

.footer-box .four-column ul > li > ul > li { font-size:12px;}
.footer-box .note { font-size:12px;}
.footer-box .note:before { width: 100%;  height: 1px;  top: -15px;  position: absolute;  left: 0;}
.footer-sub-box ul { float:left; margin:10px 0;}
.footer-sub-box ul li { margin: 13px 13px 0 13px;}   
.footer-sub-box ul li:first-child { margin: 13px 13px 0 0;}
    
    
}


/* footer component ends here*/