.result-section {
    clear: both;
    margin-top: 20px;
    .result-container {
        clear: both;
        padding: 0;
        display: inline-block;
        width: 100%;
        //flex-direction: column;

        .block-heading {
            color: $color-grey-text-heading;
            font-size: 9px;
            text-transform: uppercase;
            margin: 0 0 10px 0;
            padding: 0;
        }

        .filter-name {
            color: $color-black-grey;
            font-size: 14px;
            text-transform: uppercase;
            font-family: Arial, sans-serif;
        }
        .result-count {
            color: $color-light-grey;
        }
        .result-title {
            color: $color-black-grey;
            font-size: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid $color-thin-grey;
            font-family: Arial, sans-serif;
            text-transform: uppercase;
        }
        .nicescroll-cursors {
            background: $color-black-grey;
        }
    }
    .refine-search-block {
        display: none;
    }

    .refine-search-block,
    .search-result-block {
        float: left;
        .inner-block {
            clear: both;
            width: 100%;
            display: inline-block;
            padding-top: 5px;
        }
    }
    .refine-search-filter {
        .refine-filter {
            width: 100%;
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style-type: none;

            > li {
                padding: 0;
                margin: 0;

                .refine-item {
                    cursor: pointer;
                    display: inline;
                    line-height: 18px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .result-count {
            font-size: 14px;
        }
        @media (max-width: 767px) {
            .refine-filter {
                overflow-y: hidden;
                height: 30px;
                white-space: nowrap;

                > li {
                    display: inline-block;
                    vertical-align: baseline;

                    & + li {
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    .search-result-block {
        //flex-grow: 2;
        width: 100%;
        .result-title {
            margin-bottom: 15px;
        }
    }
    .search-result-block {
        .inner-block {
            .result-content {
                margin-bottom: 40px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    @media (min-width: $screen-sm) {
        margin-top: 55px;
        .result-container {
            //flex-direction: row;
        }
        .refine-search-block {
            width: 225px;
            padding-right: 15px;
            display: block;
            //flex-direction: column;
        }

        .refine-search-filter {
            .refine-filter {
                > li {
                    margin: 0 0 15px 0;

                    .refine-item {

                    }
                }
            }
        }
        .search-result-block {
            width: calc(100% - 225px);
            .result-title {
                margin-bottom: 40px;
            }

        }
    }
    @media (min-width: $screen-sm) {
        .result-container {
            .block-heading {
                font-size: 12px;
            }
            .result-title {
                font-size: 16px;
                padding-bottom: 15px;
            }
            .refine-search-block,
            .search-result-block {
                .inner-block {
                    padding-top: 15px;
                }
            }

            .filter-name{
                font-size: 16px;
            }

        }
    }
    @media (min-width: $screen-md) {
        .search-result-block {
            //max-width: 850px;
            width: calc(100% - 270px);
        }
        .refine-search-block {
            width: 270px;
        }
        .refine-search-filter {
            .refine-filter {
                > li {
                    margin: 0 0 26px 0;

                    .refine-item {

                    }
                }
            }
        }
    }
    @media (min-width: $screen-lg) {
        .search-result-block {
            margin-left: 20px;
            width: calc(100% - 290px);
        }
        .refine-search-block {
            .result-count {
                font-size: 15px;
            }
        }
    }
}
.color-catalog-container {
    display: flex;
    clear: both;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;

    .shade-code-color {
        display: flex;
        flex-direction: column;
    }
    .custom-link-btn {
        &:hover {
            .icon {
                display: none;
            }
        }
    }
    .shade-gradients-block {
        display: flex;
        flex-direction: column;

        .shade-items-block {
            background: $color-light-cream-grey;
            width: 100%;
            display: inline-block;
            width: 100%;
            overflow: auto;
            padding-bottom: 0px;
            font-size: 0;
        }

        .shade-item {
           display: inline-block;
            font-size: 0;
        }
    }
    .shade-code-block {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }
    .shade-code {
        color: $color-black-grey;
        font-size: 13px;
        margin-bottom: 5px;
    }
    .shade-sub-title {
        color: $color-grey-text-heading;
        font-size: 9px;
        margin: 0;
        line-height: 15px;
    }
    .cust-btn-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: -6px;
        flex: 0 0 100%;
    }

    @media (max-width: 767px) {
        .shade-code-color {
            flex: 0 0 84px;
            margin-right: 20px;
            .color-box {
                width: 82px;
                height: 82px;
            }
        }
        .shade-gradients-block {
            flex: 0 0 calc(100% - 105px);

            .gradient-title {
                font-size: 9px;
                color: $color-light-white-grey;
                margin-bottom: 0px;
                line-height: 12px;
                font-family: 'Conv_accordaltlight-webfont';
            }
            .shade-items-block {
                max-height: 76px;
                padding-top: 7px;
            }
            .shade-item {
                width: 26px;
                height: 26px;
                margin-left: 8px;
                margin-bottom: 8px;
            }
        }
    }
    @media (min-width: $screen-sm) and (max-width: 1190px){
        .shade-code-color {
            margin-right: 20px;

            .color-box {
                width: 120px;
                height: 120px;
            }
        }
        .shade-gradients-block {
            flex: 0 0 calc(100% - 140px);

            .shade-items-block {
                margin-bottom: 20px;
                height: 172px;
                padding-right: 15px;
            }
        }
        .gradient-title {
            font-size: 12px;
            margin-bottom: 5px;
        }

        .shade-item {
            width: 70px;
            height: 70px;
            margin-left: 15px;
            margin-bottom: 8px;
            margin-top: 8px;
        }

    }
    @media (min-width: $screen-sm) {
        width:auto;
        .shade-sub-title {
            font-size: 16px;
        }

        .shade-code {
            font-size: 16px;
        }
        .gradient-title {
            font-size: 14px;
            color: $color-light-white-grey;
            font-family: 'Conv_accordaltlight-webfont';
        }
    }
    @media (min-width: $screen-md) {

    }
    @media (min-width: $screen-lg) {

        .shade-code-color {
            margin-right: 32px;
        }
        .shade-gradients-block {
            width: calc(100% - 285px);

            .shade-items-block {
                height: 222px;
                padding-bottom: 0px;
                padding-right: 15px;
            }

            .shade-item {
                width: 95px;
                height: 95px;
                margin-left: 15px;
                margin-bottom: 8px;
                margin-top: 8px;
            }
        }

        .shade-code-color {
            .color-box {
                width: 253px;
                height: 253px;
            }
        }

        .gradient-title {
            margin-bottom: 12px;
        }
    }
}

.complementary-block {
    position: relative;
    font-size: 0;
    .shade-items-block {
        width: 68px;
        display: inline-block;
        margin-bottom: 20px;
    }
    .shade-item {
        width: 43px;
        height: 43px;
        display: inline-block;
    }
    .shade-code-block {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        > span {
        }

        .shade-sub-title {
            font-size: 9px;
            color: $color-grey-text-heading;
            font-family: 'Conv_accordaltlight-webfont';
        }
        .shade-code {
            color: $color-black-grey;
            font-size: 13px;
            margin-bottom: 5px;
            font-family: 'Conv_accordaltregular-webfont';
        }
    }
    @media (max-width: 400px) and (min-width: 360px){
        .shade-items-block {
            width: 80px;
        }
        .shade-item {
            width: 55px;
            height: 55px;
        }
    }
    @media (max-width: 599px) and (min-width: 410px){
        .shade-items-block {
            width: 85px;
        }
        .shade-item {
            width: 60px;
            height: 60px;
        }
    }
    @media (max-width: 767px) and (min-width: 600px){
        .shade-items-block {
            width: 95px;
        }
        .shade-item {
            width: 70px;
            height: 70px;
        }
    }

    @media (min-width: $screen-sm) {
        width: auto;
        padding-top: 20px;
        .shade-items-block {
            width: 95px;
            display: inline-block;
            margin-right: 5.4%;
            margin-bottom: 5.4%;
        }
        .shade-item {
            width:100%;
            height: 95px;
        }
        .shade-code-block{
            .shade-sub-title {
                font-size: 14px;
            }
        }
        .shade-code {
            font-size: 16px !important;
        }
    }
    @media (min-width: $screen-md) {

    }
    @media (min-width: $screen-lg) {
    }
}
.related-products-block {
    position: relative;
    padding-right: 28px;

    .product-block {
        clear: both;
        position: relative;
        font-size: 0;
        .prod-item {
            width: 29%;
            display: inline-block;
            vertical-align: top;
            margin-left: 6%;
            margin-bottom: 6%;

            &:first-child {
                margin-left: 0;
            }
            @media (max-width: 767px) {
                &:nth-child(3n+1) {
                    margin-left: 0;
                }
            }
        }
        .img-holder {
            width: 100%;
            height: 75px;
            background: $color-white-dark-grey;
            display: flex;
            align-items: center;
            justify-content: center;

            > .prod-img {
                width: 55px;

            }
        }
        .prod-caption {
            margin: 0;
            padding: 0;
            color: $color-black-grey;
            font-size: 9px;
            line-height: 14px;
            font-family: 'Conv_accordaltregular-webfont';
        }

        @media (min-width: 460px) and (max-width: 767px){
            .img-holder {
                height: 155px;
                > .prod-img {
                    width: auto;
                }
            }
        }
        .action-icon-block {
            right: -30px;
        }
    }

    @media (min-width: $screen-sm) {
        padding-right: 0;

        .product-block {

            .prod-item {

                width: 30%;
                margin-left: 4%;
                margin-bottom: 30px;

                &:first-child {
                    margin-left: 0;
                }
                &:nth-child(3n+1) {
                    margin-left: 0;
                }
            }
            .img-holder {
                height: 175px;
                > .prod-img {
                    width: 132px;
                }
            }
            .prod-caption {
                font-size: 16px;
                margin-top: 10px;
                line-height: 20px;
            }
        }
    }
    @media (min-width: $screen-md) {

    }
    @media (min-width: $screen-lg) {
        .product-block {

            .prod-item {
                width: 155px;
                margin-left: 8.5%;
                margin-bottom: 30px;
                &:first-child {
                    margin-left: 0;
                }
                &:nth-child(3n+1) {
                    margin-left: 8.5%;
                }
                &:nth-child(4n+1) {
                    margin-left: 0;
                }
            }
        }
    }
}

.related-services-block {

    .services-block {
        position: relative;
        .item {
            display: flex;
            text-align: center;
            flex-direction: row;
            .img-block {
                width: auto;
                margin-bottom: 20px;
                text-align: center;
                margin-right: 10px;
                .service-img {
                    max-width: 100%;
                    width: 20px;
                }
            }
            .prod-caption {
                font-size: 13px;
                color: $color-black-grey;
                margin-bottom: 15px;
                margin-right: 10px;
                font-family: 'Conv_accordaltlight-webfont';
            }
            .cust-btn-wrapper {
                margin-left: auto;
            }
        }
    }


    @media (min-width: $screen-sm) {
        .services-block {
            padding-top: 10px;
            .item {
                flex-direction: column;
                width: 170px;
                margin-left: 6.5%;
                margin-bottom: 30px;
                &:first-child {
                    margin-left: 0;
                }
                &:nth-child(3n+5) {
                    margin-left: 0;
                }

                .img-block {
                    margin-right: 0px;
                    .service-img {
                        max-width: 100%;
                        width: auto;
                    }
                }
                .prod-caption {
                    font-size: 16px;
                    margin-top: 10px;
                    margin-right: 0;
                }
                .cust-btn-wrapper {
                    display: flex;
                    justify-content: center;
                    margin-left: initial;
                }
            }
        }
    }
    @media (min-width: $screen-md) {

    }
    @media (min-width: $screen-lg) {
    }
}
.action-icon-block {
    background: $color-light-cream-grey;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top:0;
    right: 0;

    .arrow-up {
        display: none;
    }
    @media (min-width: 460px) {
        display: none;
    }
}

.annual-reports-block {
    clear: both;

    .reports-container {
        width: 100%;
        display: inline-block;

        .report-img {
            width: 10px;
            height: 15px;
        }
        .report-title {
            font-size: 13px;
            font-family: Conv_accordaltregular-webfont;
            margin-bottom: 5px;
            color: $color-black-grey;
        }
        .report-decr {
            color: $color-grey-text-heading;
            font-size: 9px;
            margin: 0;
        }

        .report-info {
            margin-left: 10px;
            flex: 0 0 calc(100% - 20px);
        }
        .cust-btn-wrapper {
            flex: 0 0 100%;
            justify-content: flex-end;
            margin-top: 10px;
        }
        .report-block {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid $color-thin-grey;
            padding-bottom: 22px;

            & + .report-block {
                padding-top: 20px;
            }
        }

        .cust-btn-wrapper {
            display: none;
            justify-content: flex-end;
            flex: 0 0 100%;
        }
        @media (min-width: $screen-sm) {
            .report-block {
                flex-wrap: nowrap;
                align-items: flex-start;
                padding-bottom: 32px;
                & + .report-block {
                    padding-top: 40px;
                }
            }
            .img-block {
                display: flex;
                flex: 0 0 65px;
                justify-content: center;
                margin-top: 8px;
            }
            .report-title {
                font-size: 16px;
                margin-bottom: 5px;
            }
            .report-decr {
                font-size: 14px;
            }
            .report-img {
                width: 35px;
                height: 40px;
            }
            .report-info {
                flex: auto;
            }
            .cust-btn-wrapper {
                display: flex;
                flex: 0 0  130px;
                margin-top: 10px;
            }
        }
        @media (min-width: $screen-lg) {

        }

    }
    ol, ul {
        list-style: none;
    }
}

